page-add-place {

  map {
    >div {
      width:100%;
      padding-top: 100%;
    }
  }


  .slides ion-slide {
    align-items: initial;
  }

  input.location {
    background-color: #fff;
    font-weight: 300;
    width: 100%;
    border: 1px solid #979797;
    padding: 20px;
    color: #666;
    text-align: center;
    font-size: 20px;
  }

}
